<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <a>Welcome to <%= body %></a>

  <!-- 引入组件 -->
  <%- include('widgets/user-info',{
    isMe
  }) %>
  <hr>
  <%- include('widgets/blog-list',{
    blogList
  }) %>
</body>

</html>